@import "../../../styles/maps";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.projectContainer {
  margin-top: 5rem;
  width: 100%;
  padding: 0 20% 0 1rem;
  @include devices(tablet) {
    padding: 0 15% 0 2rem;
  }
  @include devices(desktop) {
    padding: 0 5rem 0 3rem;
  }
}

.projectTitle {
  font-family: Apercu;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  color: $color-main-white;
  margin-bottom: 0.5rem;
  @include devices(tablet) {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  @include devices(desktop) {
    font-size: 4rem;
    line-height: 8rem;
    margin-bottom: -1rem;
  }
}

.projectsubTitle {
  font-family: ApercuLight;
  font-size: 1rem;
  line-height: 1.2rem;
  color: $color-main-white;
  margin-bottom: 1.5rem;
  @include devices(tablet) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  @include devices(desktop) {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
  }
}

.projectGrid {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
}

.projectCardContainer {
  width: 100%;
  @include devices(tablet) {
    width: 50%;
    padding: 0 0.15rem;
  }
  @include devices(desktop) {
    width: 33%;
  }

  border-radius: 1rem;
  filter: grayscale(1);
  transition-duration: 0.5s;
  &:hover {
    filter: grayscale(0);
  }
  &:hover .projectButton {
    transition-duration: 0.5s;
    display: block;
    position: absolute;
    top: 80%;
    left: 10%;
    border: none;
    border-radius: 1.5rem;
    width: 80%;
    padding: 0.5rem;
    background-color: $color-primary;
    font-family: Apercu;
    font-size: 1.2rem;
    color: $color-main-black;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @include devices(tablet) {
      top: 79%;

      font-size: 1rem;
    }
    @include devices(desktop) {
      width: 50%;
      top: 80%;
      left: 25%;
      font-size: 1rem;
    }
  }

  .projectButton {
    &:hover {
      background-color: $color-primary;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  button {
    display: none;
  }
}
