@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == largeScreens {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
  @if $breakpoint == xlScreens {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
}
