$color-main-black:  #000000;
$color-main-white: #F5F5F4;
$color-primary: 	 #F5F5F4;
$color-secondary: #DCF763;
$color-third: 	 #ff1d1d;
$color-fourth: #1443ff;



@font-face {
  font-family: Proxima;
  src: url(../assets/fonts/Fontspring-DEMO-proximanova-bold.otf);
}

@font-face {
  font-family: Apercu;
  src: url(../assets/fonts/ApercuBold.otf);
}


@font-face {
  font-family: ApercuMedium;
  src: url(../assets/fonts/ApercuProMedium.otf);
}


@font-face {
  font-family: ApercuLight;
  src: url(../assets/fonts/ApercuLight.otf);
}


@font-face {
  font-family: Dhalia;
  src: url(../assets/fonts/dahlia-regular.otf);
}


@font-face {
  font-family: DhaliaBold;
  src: url(../assets/fonts/dahlia-bold.otf);
}

@font-face {
  font-family: DhaliaN;
  src: url(../assets/fonts/dahlia-regularcondensed.otf);
}